:root {

    /* VARIAVEIS DE CORES */

    --cor-preto-nav-bar: #000000;
    --cor-preto-fundo: #0f0f0f;

    --cor-azul-fonte: aqua;
    --cor-azul-claro-fonte: #317a8b;

    /* VARIAVEIS DE FONTES */

    --fonte-nav-bar: monospace, sans-serif;
}

/* RESET CSS */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-preto-fundo);
    color: white;
}

.divisao__secoes {
    border: 0; /* Remove a borda padrão */
    height: 2px; /* Define a altura da linha */
    background-color: #ffffff; /* Define a cor da linha */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* CSS DO HEADER */

.cafe {
    color: white;
    padding: 0px 1rem 0px 3rem;
}

.cafe__icon {
    height: 1.8rem;
}

.cabecalho {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    background-color: var(--cor-preto-nav-bar);

    font-family: var(--fonte-nav-bar);
}

.cabecalho__botao__home {
    font-size: 1.8rem;
    text-decoration: none;
}

.cabecalho__itens {
    padding-right: 2rem;
    color: aqua;
}

.cabecalho__item {
    font-size: 1.4em;
    padding: 0.8rem;
    align-items: right;
    color: var(--cor-azul-fonte);
    text-decoration: none;
    font-family: var(--fonte-nav-bar);
}

.cabecalho__item__divisao {
    text-decoration: none;
    color: white;
}





/* CSS SEÇÃO 1 - BANNER */


.secao1__card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.secao1__card__box1 {
    padding: 2rem 0px 5rem 5rem;
    font-family: var(--fonte-nav-bar);
}

.secao1__card__box1__titulo {
    font-size: 4em;
    color: var(--cor-azul-claro-fonte);
}

.secao1__card__box1__texto {
    font-size: 2.5em;
}

.secao1__card__box2__imagem {
    height: 800px;
    width: 800px;
}

.destaque {
    color: var(--cor-azul-fonte);
}





/* CSS SEÇÃO 2 - TECNOLOGIAS */

.secao2__tecnologias__titulo {
    font-size: 3.5em;
    text-align: center;
    padding: 2rem;
    font-family: var(--fonte-nav-bar);
}

.secao2__card_html {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secao2__card_html__logo {
    padding-left: 2rem;
}

.secao2__card__titulo {
    font-family: var(--fonte-nav-bar);
    font-size: 2.8rem;
    padding: 2rem;
    text-align: center;
}

.secao2__card__texto {
    padding: 2rem 2rem 0px 0px;
    width: 40vw;
    text-align: center;
}

.secao2__bloco__texto__html {
    font-family: var(--fonte-nav-bar);
    font-size: 1.5rem;
}

.logo-js {
    height: 500px;
}

.logo-sql {
    height: 300px;
}

.logo-python {
    height: 500px;
}

.box1 {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 36px;
    align-items: center;
    margin: 1rem;
    border-radius: 16px;
    border: solid;
    border-color: var(--cor-azul-claro-fonte);
}

.box1__titulo {
    font-family: var(--fonte-nav-bar);
    padding: 2rem;
}